In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('output/artist_data.csv')

In [4]:
df.head()

,Unnamed: 0,Artist,Year Inducted,Years Waited,# of Years Nominated,Influenced,Certified Units (Millions),Albums in RS500,Top 100 Singles,Highest Position,Times on Cover of RS,Score,Spotify,In_Out
0,0,The Beatles,1988.0,0,1,1230.0,178.0,10.0,80,1,16.0,4.81,15022354,1
1,1,Elvis Presley,1986.0,0,1,273.0,146.5,3.0,158,1,7.0,3.31,7518562,1
2,2,The Eagles,1998.0,0,1,17.0,120.0,2.0,21,1,3.0,3.50,8989332,1
3,3,Led Zeppelin,1995.0,0,1,355.0,111.5,5.0,10,4,12.0,4.50,10306295,1
4,4,Michael Jackson,2001.0,3,1,176.0,84.0,3.0,49,1,6.0,3.65,24068900,1

In [5]:
df.drop(['Unnamed: 0','Artist','Year Inducted'],axis=1,inplace=True)

In [6]:
df.head()

,Years Waited,# of Years Nominated,Influenced,Certified Units (Millions),Albums in RS500,Top 100 Singles,Highest Position,Times on Cover of RS,Score,Spotify,In_Out
0,0,1,1230.0,178.0,10.0,80,1,16.0,4.81,15022354,1
1,0,1,273.0,146.5,3.0,158,1,7.0,3.31,7518562,1
2,0,1,17.0,120.0,2.0,21,1,3.0,3.50,8989332,1
3,0,1,355.0,111.5,5.0,10,4,12.0,4.50,10306295,1
4,3,1,176.0,84.0,3.0,49,1,6.0,3.65,24068900,1

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X = df[['Times on Cover of RS',]]
y = df['In_Out']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [10]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [11]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [12]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.5947955390334573
Testing Data Score: 0.6

In [15]:
predictions = classifier.predict(X_test)
predict_df = pd.DataFrame({"Prediction": predictions, "Actual": y_test})

In [16]:
predict_df.head()

     Actual  Prediction
271       0           1
141       1           1
43        1           1
157       1           1
168       1           1